.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: rgb(53, 69, 218);;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 45px;
    cursor: pointer;
}

.boton-clear:hover {
    background-color: rgb(218, 53, 53);;
}